<h2>Editing Issue</h2>

<%= render 'form', complaint: @complaint %>
<br>
<%= link_to 'Show', @complaint, class: "btn btn-primary" %>
<%= link_to 'List', complaints_path, class: "btn btn-primary" %>
<%= link_to 'Closed', complaints_closedlist_path, class: "btn btn-primary" %>
